.style
{
    position: relative;
    width: 50%;
    height: auto;
    border: 1px solid black;
   
}
.desc{
    color: blueviolet;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}
/* image img{
    width: 50%;
    height: 100px;
} */

.style1{
    position: relative;
    width: 50%;
    height: auto;
    border: 1px solid gray;
    top: 20px;
}
.desc1{
    color: rebeccapurple;
    position: absolute;
    top: 15rem;
    left: 30rem;
}
.style2{
    position: relative;
    width: 50%;
    height: auto;
    border: 1px solid gray;
    top: 50px;
}
.desc2{
    color: rebeccapurple;
    position: absolute;
    bottom: 110px;
    left: 20rem;
    
}
.but{
    background-color: white;
    border: 3px solid blueviolet;
    padding: 10px;
    border-radius: 5px;
}